In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import nltk
import seaborn as sns

##Load Datasets

In [ ]:
movies = pd.read_csv("/content/tmdb_5000_movies.csv")
credits = pd.read_csv("/content/tmdb_5000_credits.csv")

##EDA

In [ ]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
movies.shape

(4803, 20)

In [ ]:
movies.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [ ]:
credits.shape

(4803, 4)

In [ ]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

###Merge both files

In [ ]:
credits.rename(columns={'movie_id':'id'}, inplace=True)
df = pd.merge(movies, credits, on='id')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

In [ ]:
df.drop(['title_y','homepage', 'original_title'], axis=1,inplace=True)
df.rename(columns={'title_x': 'title'}, inplace=True)

In [ ]:
df.isna().sum()

budget                    0
genres                    0
id                        0
keywords                  0
original_language         0
overview                  3
popularity                0
production_companies      0
production_countries      0
release_date              1
revenue                   0
runtime                   2
spoken_languages          0
status                    0
tagline                 844
title                     0
vote_average              0
vote_count                0
cast                      0
crew                      0
dtype: int64

###Handling Null values

In [ ]:
df['tagline']=df['tagline'].fillna('unknown')
df['overview']=df['overview'].fillna('')
df['runtime'] = df['runtime'].fillna(df['runtime'].mean())
df['release_date']= df['release_date'].fillna("N/A ")

In [ ]:
df.isna().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
dtype: int64

In [ ]:
df.nunique().sort_values()

status                     3
original_language         37
vote_average              71
runtime                  157
budget                   436
production_countries     469
spoken_languages         544
genres                  1175
vote_count              1609
release_date            3281
revenue                 3297
production_companies    3697
tagline                 3945
keywords                4222
cast                    4761
crew                    4776
title                   4800
overview                4801
popularity              4802
id                      4803
dtype: int64

##Feature Engineering

###Parsing and combining

In [ ]:
#useful columns =[genres, title, cast(top actors), crew(director), overview, keywords]

Defining functions to extract only required data from columns(actors, directors, genre) in the list format

In [ ]:
import ast
def extract_names(obj, n=None):
  try:
    #converts obj to list and remove spaces also return a list
    names = [i['name'].replace(" ","").lower()for i in ast.literal_eval(obj)]
    return names[:n] if n else names
  except:
    return []

def extract_director(obj):
  try:
    #checks where job is director and extract name
    for i in ast.literal_eval(obj):
      if i['job'].lower() == 'director':
        return[i['name'].replace(" ", "").lower()]
  except:
    return []

In [ ]:
#applying parsing
df['genres'] = df['genres'].apply(lambda x: extract_names(x))
df['cast'] = df['cast'].apply(lambda x: extract_names(x, n=3))#top 3 actors
df['keywords'] = df['keywords'].apply(lambda x: extract_names(x))
df['crew'] = df['crew'].apply(lambda x: extract_director(x))

In [ ]:
df['overview'] = df['overview'].apply(lambda x: x.lower().split())

#combining in one
df['features'] = df['genres']+df['cast'] + df['crew'] + df['keywords'] + df['overview']

In [ ]:
df.isna().sum()

budget                   0
genres                   0
id                       0
keywords                 0
original_language        0
overview                 0
popularity               0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
vote_average             0
vote_count               0
cast                     0
crew                    30
features                30
dtype: int64

In [ ]:
df['features'] = df['features'].fillna("unknown")
df['crew'] = df['crew'].fillna("unknown")

In [ ]:
df['features'] = df['features'].apply(lambda x: ' '.join(x))

In [ ]:
df['features']

0       action adventure fantasy sciencefiction samwor...
1       adventure fantasy action johnnydepp orlandoblo...
2       action adventure crime danielcraig christophwa...
3       action crime drama thriller christianbale mich...
4       action adventure sciencefiction taylorkitsch l...
                              ...
4798    action crime thriller carlosgallardo jaimedeho...
4799    comedy romance edwardburns kerrybishÃ© marshadi...
4800    comedy drama romance tvmovie ericmabius kristi...
4801    danielhenney elizacoupe billpaxton danielhsia ...
4802    documentary drewbarrymore brianherzlinger core...
Name: features, Length: 4803, dtype: object

##Transforming to numeric value

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(max_features=5000, stop_words='english')
vector = tf.fit_transform(df['features']).toarray()

##Compute similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(vector)

In [ ]:
cs[11][200] #how much 11 is simila to 200 index range 0 to 1(very similar)

np.float64(0.015432721761869798)

##Recommend Function (Content Based)

In [ ]:
def recommend(movie):
  try:
    movie_index = df[df['title'] == movie].index[0]
  except IndexError:
    print(f"Movie '{movie}' not found in list")

  #finding similarity scores
  similarity = list(enumerate(cs[movie_index]))

  #sorting titles
  sort = sorted(similarity, key=lambda x: x[1], reverse=True)[1:6] #select top 5 excluding itself

  print(f"\nðŸŽ¬ Movies similar to '{movie}':")
  for i, score in sort:
        print(f" - {df.iloc[i]['title']}")

In [ ]:
recommend('Avatar')

ðŸŽ¬ Movies similar to 'Avatar':
 - Falcon Rising
 - Battle: Los Angeles
 - Apollo 18
 - Star Trek Into Darkness
 - Titan A.E.

In [ ]:
recommend('The Dark Knight')

ðŸŽ¬ Movies similar to 'The Dark Knight':
 - The Dark Knight Rises
 - Batman Returns
 - Batman Begins
 - Batman: The Dark Knight Returns, Part 2
 - Batman Forever